* {
    font-family: 'lobster', cursive;
    font-weight: 100;
    font-size: 30px;
}

h2 {
    display: inline-block;
    background-color: blueviolet;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 20 px 10px;
}