* {
    font-family: 'lobster', cursive;
    font-weight: 100;
    font-size: 30px;
}

h2 {
    display: inline-block;
    background-color: blueviolet;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px 10px;
    border-radius: 2em;
    box-shadow: 30px 15px 10px 3px black;
    text-shadow: 2px 2px 7px violet, 2px 2px 7px violet, 2px 2px 7px violet;
    transform: rotate(-70deg);
}